# Place to /etc/systemd/system/
[Unit]
Description=DaemonTest service
After=network.target

[Service]
RestartSec=1
ExecStartPre=/usr/bin/rm -f /run/DaemonTest.pid
KillMode=process
PIDFile=/run/DaemonTest.pid
Restart=always
TimeoutStopSec=120
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill $MAINPID
Type=forking
ExecStart=/opt/DaemonTest/DaemonTest
User=root

[Install]
WantedBy=multi-user.target

